<div class="component__show_notes" data-component="accordion" id="accordion-internal-evaluations">
  <button type="button" class="card-divider-button" data-controls="panel-internal-evaluations" data-open="true">
    <%= icon "arrow-right-s-line" %>
    <h2 class="card-title">
      <%= t("title", scope: "decidim.internal_evaluation.admin.internal_evaluations.index") %>
    </h2>
  </button>

  <div id="panel-internal-evaluations">
    <table class="table-list">
      <thead>
        <tr>
          <th>
            <%# TODO: Add sort_links %>
            <%= t(".updated") %>
          </th>
          <th>
            <%# TODO: Add sort_links %>
            <%= t(".status") %>
          </th>
          <th>
            <%= t(".evaluation") %>
          </th>
          <th>
            <%= t(".actions") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render(
              partial: "decidim/internal_evaluation/admin/internal_evaluations/valuation_assignments_evaluations",
              collection: valuation_assignments,
              as: :valuation_assignment
            ) %>
      </tbody>
    </table>
  </div>
</div>
